<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GreenTea Leaf</key>
	<string>https://img.freepik.com/premium-photo/green-tea-leaf-isolated-white_253984-1735.jpg</string>
	<key>Maya</key>
	<string>https://www.pressenza.com/wp-content/uploads/2021/04/Guatemala-Mayan-art-1500-720x480.jpg</string>
	<key>Cliff</key>
	<string>https://upload.wikimedia.org/wikipedia/commons/7/74/White_Cliffs_of_Dover_02.JPG</string>
	<key>Coliseu de Roma</key>
	<string>https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Colosseo_2020.jpg/300px-Colosseo_2020.jpg</string>
	<key>Winter</key>
	<string>https://upload.wikimedia.org/wikipedia/commons/b/b0/Winter_forest_silver.jpg</string>
	<key>Japanese Garden</key>
	<string>https://cdn.britannica.com/37/191237-050-574791A6/garden-Japanese.jpg</string>
	<key>Shoji Screen</key>
	<string>https://upload.wikimedia.org/wikipedia/commons/b/b6/Gs01-rinsyun.jpg</string>
	<key>Mother &amp; Child</key>
	<string>https://images1-fabric.practo.com/practices/822658/nidan-mother-and-child-care-noida-58e3941420605.jpg</string>
	<key>Wild Beas</key>
	<string>https://live.staticflickr.com/4695/40506836921_fa22b26466_b.jpg</string>
	<key>Zebra</key>
	<string>https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Equus_quagga_burchellii_-_Etosha%2C_2014.jpg/1200px-Equus_quagga_burchellii_-_Etosha%2C_2014.jpg</string>
	<key>Picture of Contentment</key>
	<string>https://www.thegibsonedge.com/hubfs/blog-files/The%20Pursuit%20of%20Contentment%20-%20Cropped.jpg</string>
	<key>Cheetah</key>
	<string>https://cdn.britannica.com/98/152298-050-8E45510A/Cheetah.jpg</string>
	<key>Three Giraffes</key>
	<string>https://upload.wikimedia.org/wikipedia/commons/8/89/Three_giraffes_01.jpg</string>
	<key>Lions Dining</key>
	<string>https://www.marariversafarilodge.com/wp-content/uploads/2020/03/Lion-eat.jpg?p=7357</string>
	<key>Springbok</key>
	<string>https://upload.wikimedia.org/wikipedia/commons/8/89/Antidorcas_marsupialis%2C_male_%28Etosha%2C_2012%29.jpg</string>
	<key>Mexican 1</key>
	<string>https://en.numista.com/catalogue/photo585.jpeg</string>
	<key>Sandy Cape Light House</key>
	<string>https://www.fraserislandrealty.com.au/wp-content/uploads/2020/08/Lighthouse-e1606269514822.jpg</string>
	<key>Mozambique 2</key>
	<string>https://s3.amazonaws.com/ngccoin-production/world-coin-price-guide/18749b.jpg</string>
	<key>Muizenberg</key>
	<string>https://dynamic-media-cdn.tripadvisor.com/media/photo-o/17/d7/57/42/since-muizenberg-is-a.jpg?w=1200&amp;h=-1&amp;s=1</string>
	<key>Lago todos los santos</key>
	<string>https://media.tacdn.com/media/attractions-splice-spp-674x446/0b/2d/0e/34.jpg</string>
	<key>Camino al volcan</key>
	<string>https://dynamic-media-cdn.tripadvisor.com/media/photo-o/14/57/89/b0/vista.jpg?w=1200&amp;h=-1&amp;s=1</string>
	<key>Volcan y saltos</key>
	<string>https://www.turistour.cl/img/fotos_sur/osornopetrohue-07-xl.jpg</string>
	<key>Volcan y lago</key>
	<string>https://upload.wikimedia.org/wikipedia/commons/0/07/Volcán_y_lago_Villarrica.jpg</string>
	<key>Santorini</key>
	<string>https://a.cdn-hotels.com/gdcs/production18/d1838/041ae6b1-0a88-4c22-a648-53a22dd4a006.jpg</string>
	<key>Foreign Minestry</key>
	<string>https://www.dailynews.lk/sites/default/files/news/2021/10/06/z_p01-Foreign-Ministry.jpg</string>
	<key>Maya Ruines in Copán Ruinas 2</key>
	<string>https://www.visitcentroamerica.com/wp-content/uploads/2017/09/place-central-america-honduras-ruins-copan-07.jpg</string>
	<key>Rome</key>
	<string>https://cdn.britannica.com/46/154246-050-7C72E12F/view-Rome.jpg</string>
	<key>Dobra voda castle</key>
	<string>https://ru.infoglobe.cz/res/archive/837/094589_00_1059297.jpg?seek=1477474566</string>
	<key>Golden Thai temple</key>
	<string>https://a.cdn-hotels.com/gdcs/production189/d1786/81055b6c-bccb-4917-aefe-4a04c6153e9b.jpg</string>
	<key>Monkey</key>
	<string>NO URL</string>
	<key>Flying Taxi</key>
	<string>NO URL</string>
	<key>Cute Monkey</key>
	<string>NO URL</string>
	<key>Chocolate House</key>
	<string>NO URL</string>
</dict>
</plist>
